# Laboratorio Calificado 1 :  Datos Perdidos

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Leer datasets
vuelos = pd.read_csv("flights.csv")
vuelos.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

### 1.- Mostrar solo  las cabeceras

In [3]:
vuelos.columns

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'carrier', 'tailnum', 'flight', 'origin', 'dest',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')

###  2. Cambiar las cabeceras
- year : anho
- month : mes
- day : dia
- dep_time : hora_partida
- dep_delay : retraso_partida
- arr_time : hora_arribo
- arr_delay ; retraso_arribo
- carrier : empresa
- talinum : id_avion
- flight : vuelo
- origin : origen
- dest : destino
- air_time : horas_vuelo
- distance : distancia
- hour : hora
- minute : minuto

In [4]:
vuelos.rename(columns={'year':'anho', 
                       'month':'mes',
                       'day': 'dia',
                       'dep_time': 'hora_partida',
                       'dep_delay': 'retraso_partida',
                       'arr_time': 'hora_arribo',
                       'arr_delay': 'retraso_arribo',
                       'carrier': 'empresa', 
                       'talinum': 'id_avion', 
                       'flight': 'vuelo', 
                       'origin': 'origen', 
                       'dest': 'destino', 
                       'air_time': 'horas_vuelo', 
                       'distance': 'distancia', 
                       'hour': 'hora', 
                       'minute': 'minuto'
                      }, inplace=True)
vuelos.head()

,anho,mes,dia,hora_partida,retraso_partida,hora_arribo,retraso_arribo,empresa,tailnum,vuelo,origen,destino,horas_vuelo,distancia,hora,minuto
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

### 3. Indicar cuales son las columnas que tiene al menos un dato perdido

In [5]:
missing_data = vuelos.isnull()
missing_data.head()

for column in missing_data.columns.values.tolist():
    lost_records = len(vuelos[column]) - missing_data[column].value_counts()
    print("Columna", column)
    if lost_records[0] != 0:
        print(lost_records[0], "datos perdidos")
    else:
        print("Datos completos")
    print("")
    
print(vuelos.count())

Columna anho
Datos completos

Columna mes
Datos completos

Columna dia
Datos completos

Columna hora_partida
2336 datos perdidos

Columna retraso_partida
2336 datos perdidos

Columna hora_arribo
2479 datos perdidos

Columna retraso_arribo
2827 datos perdidos

Columna empresa
Datos completos

Columna tailnum
1433 datos perdidos

Columna vuelo
Datos completos

Columna origen
Datos completos

Columna destino
Datos completos

Columna horas_vuelo
2827 datos perdidos

Columna distancia
Datos completos

Columna hora
2336 datos perdidos

Columna minuto
2336 datos perdidos

anho               160754
mes                160754
dia                160754
hora_partida       158418
retraso_partida    158418
hora_arribo        158275
retraso_arribo     157927
empresa            160754
tailnum            159321
vuelo              160754
origen             160754
destino            160754
horas_vuelo        157927
distancia          160754
hora               158418
minuto             158418
dtype: int64

### 4. Filtrar todos las filas donde el retraso de vuelo de partida y llegada es un dato perdido

In [6]:
missing_data = vuelos[["retraso_partida", "retraso_arribo"]]
print(missing_data[missing_data["retraso_partida"].isnull() & missing_data["retraso_arribo"].isnull()])

        retraso_partida  retraso_arribo
403                 NaN             NaN
404                 NaN             NaN
858                 NaN             NaN
859                 NaN             NaN
860                 NaN             NaN
...                 ...             ...
159519              NaN             NaN
159520              NaN             NaN
159854              NaN             NaN
159855              NaN             NaN
160286              NaN             NaN

[2336 rows x 2 columns]

### 5. Hacer una copia del dataframe vuelos , en la copia eliminar todos los datos perdidos, ¿Verifique si justifica eliminarlos?

In [7]:
vuelos_copy = vuelos.copy()
print(vuelos_copy)

missing_data = vuelos_copy.isnull()
for column in missing_data.columns.values.tolist():
    vuelos_copy.dropna(subset=[column], axis=0, inplace = True)

print(vuelos_copy)

        anho  mes  dia  hora_partida  retraso_partida  hora_arribo  \
0       2013    1    1         517.0              2.0        830.0
1       2013    1    1         533.0              4.0        850.0
2       2013    1    1         542.0              2.0        923.0
3       2013    1    1         554.0             -6.0        812.0
4       2013    1    1         554.0             -4.0        740.0
...      ...  ...  ...           ...              ...          ...
160749  2013    9   30        2105.0             -1.0       2329.0
160750  2013    9   30        2121.0             21.0       2349.0
160751  2013    9   30        2140.0              0.0         10.0
160752  2013    9   30        2149.0             -7.0       2245.0
160753  2013    9   30        2233.0             80.0        112.0

        retraso_arribo empresa tailnum  vuelo origen destino  horas_vuelo  \
0                 11.0      UA  N14228   1545    EWR     IAH        227.0
1                 20.0      UA  N24211   1714    LGA     IAH        227.0
2                 33.0      AA  N619AA   1141    JFK     MIA        160.0
3                -25.0      DL  N668DN    461    LGA     ATL        116.0
4                 12.0      UA  N39463   1696    EWR     ORD        150.0
...                ...     ...     ...    ...    ...     ...          ...
160749           -25.0      UA  N477UA    475    EWR     IAH        175.0
160750           -25.0      DL  N193DN   2363    JFK     LAX        296.0
160751           -30.0      AA  N335AA    185    JFK     LAX        298.0
160752           -23.0      UA  N813UA    523    EWR     BOS         37.0
160753            42.0      UA  N578UA    471    EWR     SFO        318.0

        distancia  hora  minuto
0            1400   5.0    17.0
1            1416   5.0    33.0
2            1089   5.0    42.0
3             762   5.0    54.0
4             719   5.0    54.0
...           ...   ...     ...
160749       1400  21.0     5.0
160750       2475  21.0    21.0
160751       2475  21.0    40.0
160752        200  21.0    49.0
160753       2565  22.0    33.0

[160754 rows x 16 columns]
        anho  mes  dia  hora_partida  retraso_partida  hora_arribo  \
0       2013    1    1         517.0              2.0        830.0
1       2013    1    1         533.0              4.0        850.0
2       2013    1    1         542.0              2.0        923.0
3       2013    1    1         554.0             -6.0        812.0
4       2013    1    1         554.0             -4.0        740.0
...      ...  ...  ...           ...              ...          ...
160749  2013    9   30        2105.0             -1.0       2329.0
160750  2013    9   30        2121.0             21.0       2349.0
160751  2013    9   30        2140.0              0.0         10.0
160752  2013    9   30        2149.0             -7.0       2245.0
160753  2013    9   30        2233.0             80.0        112.0

        retraso_arribo empresa tailnum  vuelo origen destino  horas_vuelo  \
0                 11.0      UA  N14228   1545    EWR     IAH        227.0
1                 20.0      UA  N24211   1714    LGA     IAH        227.0
2                 33.0      AA  N619AA   1141    JFK     MIA        160.0
3                -25.0      DL  N668DN    461    LGA     ATL        116.0
4                 12.0      UA  N39463   1696    EWR     ORD        150.0
...                ...     ...     ...    ...    ...     ...          ...
160749           -25.0      UA  N477UA    475    EWR     IAH        175.0
160750           -25.0      DL  N193DN   2363    JFK     LAX        296.0
160751           -30.0      AA  N335AA    185    JFK     LAX        298.0
160752           -23.0      UA  N813UA    523    EWR     BOS         37.0
160753            42.0      UA  N578UA    471    EWR     SFO        318.0

        distancia  hora  minuto
0            1400   5.0    17.0
1            1416   5.0    33.0
2            1089   5.0    42.0
3             762   5.0    54.0
4             719   5.0    54.0
...           ...   ...     ...
160749       1400  21.0     5.0
160750       2475  21.0    21.0
160751       2475  21.0    40.0
160752        200  21.0    49.0
160753       2565  22.0    33.0

[157927 rows x 16 columns]

### 6. Hacer ua copia del dataframe vuelos, en la copia rellenar todo los datos perdidos con cero

In [8]:
vuelos_copy = vuelos.copy()
print(vuelos_copy)

missing_data = vuelos_copy.isnull()
for column in missing_data.columns.values.tolist():
    vuelos_copy[column].replace(np.nan, 0, inplace=True)

print(vuelos_copy)

        anho  mes  dia  hora_partida  retraso_partida  hora_arribo  \
0       2013    1    1         517.0              2.0        830.0
1       2013    1    1         533.0              4.0        850.0
2       2013    1    1         542.0              2.0        923.0
3       2013    1    1         554.0             -6.0        812.0
4       2013    1    1         554.0             -4.0        740.0
...      ...  ...  ...           ...              ...          ...
160749  2013    9   30        2105.0             -1.0       2329.0
160750  2013    9   30        2121.0             21.0       2349.0
160751  2013    9   30        2140.0              0.0         10.0
160752  2013    9   30        2149.0             -7.0       2245.0
160753  2013    9   30        2233.0             80.0        112.0

        retraso_arribo empresa tailnum  vuelo origen destino  horas_vuelo  \
0                 11.0      UA  N14228   1545    EWR     IAH        227.0
1                 20.0      UA  N24211   1714    LGA     IAH        227.0
2                 33.0      AA  N619AA   1141    JFK     MIA        160.0
3                -25.0      DL  N668DN    461    LGA     ATL        116.0
4                 12.0      UA  N39463   1696    EWR     ORD        150.0
...                ...     ...     ...    ...    ...     ...          ...
160749           -25.0      UA  N477UA    475    EWR     IAH        175.0
160750           -25.0      DL  N193DN   2363    JFK     LAX        296.0
160751           -30.0      AA  N335AA    185    JFK     LAX        298.0
160752           -23.0      UA  N813UA    523    EWR     BOS         37.0
160753            42.0      UA  N578UA    471    EWR     SFO        318.0

        distancia  hora  minuto
0            1400   5.0    17.0
1            1416   5.0    33.0
2            1089   5.0    42.0
3             762   5.0    54.0
4             719   5.0    54.0
...           ...   ...     ...
160749       1400  21.0     5.0
160750       2475  21.0    21.0
160751       2475  21.0    40.0
160752        200  21.0    49.0
160753       2565  22.0    33.0

[160754 rows x 16 columns]
        anho  mes  dia  hora_partida  retraso_partida  hora_arribo  \
0       2013    1    1         517.0              2.0        830.0
1       2013    1    1         533.0              4.0        850.0
2       2013    1    1         542.0              2.0        923.0
3       2013    1    1         554.0             -6.0        812.0
4       2013    1    1         554.0             -4.0        740.0
...      ...  ...  ...           ...              ...          ...
160749  2013    9   30        2105.0             -1.0       2329.0
160750  2013    9   30        2121.0             21.0       2349.0
160751  2013    9   30        2140.0              0.0         10.0
160752  2013    9   30        2149.0             -7.0       2245.0
160753  2013    9   30        2233.0             80.0        112.0

        retraso_arribo empresa tailnum  vuelo origen destino  horas_vuelo  \
0                 11.0      UA  N14228   1545    EWR     IAH        227.0
1                 20.0      UA  N24211   1714    LGA     IAH        227.0
2                 33.0      AA  N619AA   1141    JFK     MIA        160.0
3                -25.0      DL  N668DN    461    LGA     ATL        116.0
4                 12.0      UA  N39463   1696    EWR     ORD        150.0
...                ...     ...     ...    ...    ...     ...          ...
160749           -25.0      UA  N477UA    475    EWR     IAH        175.0
160750           -25.0      DL  N193DN   2363    JFK     LAX        296.0
160751           -30.0      AA  N335AA    185    JFK     LAX        298.0
160752           -23.0      UA  N813UA    523    EWR     BOS         37.0
160753            42.0      UA  N578UA    471    EWR     SFO        318.0

        distancia  hora  minuto
0            1400   5.0    17.0
1            1416   5.0    33.0
2            1089   5.0    42.0
3             762   5.0    54.0
4             719   5.0    54.0
...           ...   ...     ...
160749       1400  21.0     5.0
160750       2475  21.0    21.0
160751       2475  21.0    40.0
160752        200  21.0    49.0
160753       2565  22.0    33.0

[160754 rows x 16 columns]

### 7. Cuantos datos perdidos hay en los retrasos de partida y llegada

In [9]:
missing_data = vuelos.isnull()

for column in missing_data.columns.values.tolist():
    lost_records = len(vuelos[column]) - missing_data[column].value_counts()
    if column == "retraso_partida" or column == "retraso_arribo":
        print("Columna", column)
        if lost_records[0] != 0:
            print(lost_records[0], "datos perdidos")
        else:
            print("Datos completos")

Columna retraso_partida
2336 datos perdidos
Columna retraso_arribo
2827 datos perdidos

### 8. Encontrar los datos no perdidos de todas las columnas

In [10]:
print(vuelos.notnull())

        anho   mes   dia  hora_partida  retraso_partida  hora_arribo  \
0       True  True  True          True             True         True
1       True  True  True          True             True         True
2       True  True  True          True             True         True
3       True  True  True          True             True         True
4       True  True  True          True             True         True
...      ...   ...   ...           ...              ...          ...
160749  True  True  True          True             True         True
160750  True  True  True          True             True         True
160751  True  True  True          True             True         True
160752  True  True  True          True             True         True
160753  True  True  True          True             True         True

        retraso_arribo  empresa  tailnum  vuelo  origen  destino  horas_vuelo  \
0                 True     True     True   True    True     True         True
1                 True     True     True   True    True     True         True
2                 True     True     True   True    True     True         True
3                 True     True     True   True    True     True         True
4                 True     True     True   True    True     True         True
...                ...      ...      ...    ...     ...      ...          ...
160749            True     True     True   True    True     True         True
160750            True     True     True   True    True     True         True
160751            True     True     True   True    True     True         True
160752            True     True     True   True    True     True         True
160753            True     True     True   True    True     True         True

        distancia  hora  minuto
0            True  True    True
1            True  True    True
2            True  True    True
3            True  True    True
4            True  True    True
...           ...   ...     ...
160749       True  True    True
160750       True  True    True
160751       True  True    True
160752       True  True    True
160753       True  True    True

[160754 rows x 16 columns]